<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AVIATION</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <script src="../js/colorsArray.js"></script>
  </head>
  <body>
    <header>
      <div class="headerText">
        <a class="mainHeader blinking colorChanger" href="main.html">
          CASINO AVIATION
        </a>
      </div>
    </header>

    <hr class="colorChanger" />

    <navbar>
      <div class="nav-link">
        <a href="#" class="colorChanger">CARDS</a>
      </div>
      <div class="nav-link">
        <a href="#" class="colorChanger">BONUSES</a>
      </div>
      <div class="nav-link">
        <a href="#" class="colorChanger">MERCH</a>
      </div>
      <div class="nav-link">
        <a href="#" class="colorChanger">ABOUT</a>
      </div>
    </navbar>

    <hr class="colorChanger" />

    <main>
      <div class="gameContainer">
        <div class="gameContainerHeader">
          <h2 class="blinking colorChanger">GAMES</h2>
        </div>

        <div class="games">
          <div class="game">
            <img src="../content/THE MINER -png.png" href="#" />
            <p class="gameName colorChanger">THE MINER</p>
            <a href="main.html">
              <button class="gameButton colorChanger">PLAY</button>
            </a>
          </div>

          <div class="game">
            <img src="../content/NOT RELEASED png.png" href="#" />
            <p class="gameName colorChanger">???</p>
            <a href="main.html">
              <button class="gameButton colorChanger">PLAY</button>
            </a>
          </div>

          <div class="game">
            <img src="../content/NOT RELEASED png.png" href="#" />
            <p class="gameName colorChanger" on>???</p>
            <a href="main.html">
              <button class="gameButton colorChanger">PLAY</button>
            </a>
          </div>

          <div class="game">
            <img src="../content/NOT RELEASED png.png" href="#" />
            <p class="gameName colorChanger">???</p>
            <a href="main.html">
              <button class="gameButton colorChanger">PLAY</button>
            </a>
          </div>

          <div class="game">
            <img src="../content/NOT RELEASED png.png" href="#" />
            <p class="gameName colorChanger" on>???</p>
            <a href="main.html">
              <button class="gameButton colorChanger">PLAY</button>
            </a>
          </div>

          <div class="game">
            <img src="../content/NOT RELEASED png.png" href="#" />
            <p class="gameName colorChanger">???</p>
            <a href="main.html">
              <button class="gameButton colorChanger">PLAY</button>
            </a>
          </div>
        </div>
      </div>

      <hr class="colorChanger" />
    </main>

    <footer>
      <p class="colorChanger">CASINO AVIATION &copy;</p>
      <p class="colorChanger">PROFIT GUARANTEED &check;</p>
    </footer>

    <script>
      generateRandomColor();
      setInterval(generateRandomColor(), 300);
    </script>
  </body>
</html>
